<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  
  <add key="Google.ClientId" value="945058434822-kg3aivhus8fe562j7a1oar208jokclsl.apps.googleusercontent.com" />
  <add key="Google.ClientSecret" value="i14Tm4YYq2XGXtpyIsk5geAl" />
  <add key="Google.API_KEY" value="AIzaSyAlifzZigshjH1BMQjQCzJstgIKVcMHHv4" />
  
  <add key="Google.CalendarIdentifyer" value="#CheckPointWorkSchedule#" />
  <add key="Google.DefaultCalendar" value="Работа" />
  
  <add key="WantedExtention" value="xlsx" />
  <add key="WantedWorker" value="קוסטיה" />
  <add key="SuggestTrainigs" value="true" />
  <add key="SendMailNotification" value="true" />
  <add key="IsLocalWork" value="true" />

</appSettings>